@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.AutoForward.Views
@using Microsoft.AspNetCore.Mvc.TagHelpers
<h2 class="mt-1 mb-2 mb-lg-4">
    @ViewData["Title"]
</h2>
<nav id="SectionNav">
    <div class="nav">
        <a id="SectionNav-@AutoForwardNavPages.Invoices" class="nav-link @ViewData.IsActivePage(AutoForwardNavPages.Invoices)" asp-action="Index">Invoices</a>
        <a id="SectionNav-@AutoForwardNavPages.Destinations" class="nav-link @ViewData.IsActivePage(AutoForwardNavPages.Destinations)" asp-action="Destinations">Destinations</a>
        <a id="SectionNav-@AutoForwardNavPages.Payouts" class="nav-link @ViewData.IsActivePage(AutoForwardNavPages.Payouts)" asp-action="Payouts">Payouts</a>
        <a id="SectionNav-@AutoForwardNavPages.Logs" class="nav-link @ViewData.IsActivePage(AutoForwardNavPages.Logs)" asp-action="Logs">Logs</a>
        <a id="SectionNav-@AutoForwardNavPages.Help" class="nav-link @ViewData.IsActivePage(AutoForwardNavPages.Help)" asp-action="Help">Help</a>
    </div>
</nav>